.bodyabout{
    width: 100%;
<<<<<<< HEAD
    height: 45rem;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: start;
=======
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
>>>>>>> eca353f (Agregar archivos iniciales)
    padding-left: 5%;
  
}
.bodyabout2{
    width: 100%;
    height: 35rem;
<<<<<<< HEAD
=======
    text-transform: uppercase;
>>>>>>> eca353f (Agregar archivos iniciales)
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding-left: 5%;
  
}

.bodyaboutcono{
    width: 100%;
    height: 40rem;
    padding-top: 2%;
    display: flex;
<<<<<<< HEAD
    color: black;
    justify-content: center;
=======
    font-family: 'Roboto', sans-serif;
    color: black;
    justify-content: center;
    text-transform: uppercase;
>>>>>>> eca353f (Agregar archivos iniciales)
    align-items: center;
    padding-left: 5%;
}

<<<<<<< HEAD
.abouttext{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5%;
}

.abouttext2{
   font-size: 2.5rem;
   width: 80%;
   font-weight: lighter;
   padding-bottom: 2%;
=======
.abouttext2{
   font-size: 3rem;
   width: 100%;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   padding-bottom: 4%;
>>>>>>> eca353f (Agregar archivos iniciales)
   text-align: start;

}

.aboutparra{
    font-size: 1.2rem;
<<<<<<< HEAD
    width: 70%;
=======
    width: 100%;
>>>>>>> eca353f (Agregar archivos iniciales)
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

}

.conoci{
    display:flex;
    margin-right: 4%;
    width: 100%;
    text-align: center;
    padding-bottom: 4%;
    font-family: 'Roboto', sans-serif;
}

/* RESPONSIVE*/
@media screen and (min-width: 401px) and (max-width: 900px) {
    .abouttext {
        font-size: 2rem;
        width: 100%;
    }

    .abouttext2 {
        font-size: 1.8rem;
        width: 100%;
    }

    .aboutparra {
        font-size: 0.9rem;
        width: 100%;
    }
    .bodyabout{
        padding: auto;
        margin: auto;
        height: auto;
        font-size: 1.5rem;
    }
    .bodyabout2{
        padding: auto;
        margin: auto;
        height: 25rem;
        font-size: 1.5rem;
    }
  
}

@media screen and (min-width: 100px) and (max-width: 400px) {
    .bodyabout2{
        padding: auto;
        margin: auto;
        height: 15rem;
        font-size: 1rem;
        display: inline-grid;
    }
    .bodyabout {
        padding: auto;
        margin: auto;
        height: auto;
        font-size: 1rem;
        display: inline-grid;

    }
  

    .abouttext {
        font-size: 1rem;
        width: 100%;
    }

    .abouttext2 {
        font-size: 1rem;
        margin: 1% 0%;
        width: 100%;
    }

    .aboutparra {
        font-size: 0.8rem;
        width: 90%;
    }

  

}


/*Contacto*/
.Contactos{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: auto;
    display: flex;
    padding: 25% 10%;
    background-color:white;
    height: 37rem;
    text-decoration: none;
}

.encima{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.encima:hover{
    color: purple;
    text-decoration: none;
    cursor: pointer;
}

.titulo{
    font-size: 1.6rem;

}

/*work*/
.WorkExpe{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 8% 5% 1%;
    background-color:black;
    text-decoration: none;
}
.WorkExpet1{
    font-size: 2rem;
    width: 5%;
    display: table-cell;
    align-content: center;
}
.WorkExpet{
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;

}
.WorkExpet2{
    width: 60%;
    font-size: 1.5rem;
    margin-bottom: 20%;
    
}


/*RESPONSIVE*/

/* Media Queries para dispositivos más pequeños */
@media screen and (min-width: 401px) and (max-width: 800px){
    .Contactos {
        display: inline-table;
        height: 25rem;
    }
    .WorkExpet1 {
        width: 80%;
        font-size: 1rem;
        display: inline-table;
    }
    .WorkExpet{
        font-size: 2rem;
    }
    .WorkExpet2{
        width: 100%;
        font-size: 0.8rem;
        margin-bottom: 10%;
    }

    .encima {
        font-size: 1rem;
       
    }

    .titulo {
        font-size: 1rem;
    }
}

/* Media Queries para dispositivos aún más pequeños */
@media screen and (min-width: 100px) and (max-width: 400px){
    .Contactos {
        padding: 5% 2%;
        height: auto;
    }
    .WorkExpet1 {
        width: 80%;
        font-size: 0.8rem;
        display: inline-table;
    }
    .WorkExpet{
        font-size: 1rem;
    }
    .WorkExpet2{
        width: 100%;
        font-size: 0.8rem;
        margin-bottom: 10%;
    }


    .encima{
        font-size: 0.8rem;
    }

    
    .titulo{
        font-size: 0.8rem;
    
    }
}


