.bodyb{
    width: 100%;
    height: 90vh; /* Ajustamos la altura para que sea más fluida */
    display: flex;
    color: black;
    justify-content: center;
    padding-top: 4%;
    text-align: start;
    align-items: center;
    padding-left: 5%;
    text-transform: uppercase;
}

.nombc{
    color: #931739;
    font-weight: bold;
}

.biotext{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.biotext2{
    font-size: 3rem;
    font-weight: lighter;
    padding-bottom: 2%;
}

.bioparra{
    font-size: 1rem;
    width: 100%;
    letter-spacing: 0.1rem;
    margin-right: 0%;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.foto{
    max-width: 85%;
    height: auto;
    float: right;
    padding: 0%;
    object-fit: cover; /* Esto asegura que la imagen no se distorsione */
}

/*RESPONSIVE */

/* Pantallas medianas y grandes */
@media screen and (min-width: 601px) and (max-width: 1500px) {
    .bodyb {
        flex-direction: row; /* Aseguramos que los elementos estén en fila */
        height: auto;
        margin: 2%;
    }
    
    .foto{
        max-width: 45%; /* Reducimos el tamaño de la foto para que el texto se vea bien */
        height: auto;
    }

    .biotext {
        font-size: 2rem;
    }

    .biotext2 {
        font-size: 1.6rem;
    }

    .bioparra {
        font-size: 1.1rem;
    }

}

/* Pantallas pequeñas */
@media screen and (min-width: 100px) and (max-width: 600px) {
    .bodyb {
        flex-direction: column; /* Cambiamos a columna para pantallas pequeñas */
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        margin: 2%;
    }

    .biotext {
        font-size: 2rem;
        text-align: center;
    }

    .biotext2 {
        font-size: 1.6rem;
        text-align: center;
    }

    .bioparra {
        font-size: 0.9rem;
        width: 90%;
        text-align: center;
    }

    .foto {
        width: 80%; /* Hacemos la foto más grande en pantallas móviles */
        margin-top: 2rem;
    }
}
