/* Portada */
.portada {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.55) url("/src/assets/Port1.jpg") center center /
    cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

/* Contenido Hero */
.hero-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 8%;
}

/* Nombre */
.portatitu {
  color: #fff;
  font-size: 4rem;
  text-align: left;
  margin: 15vh 0vh 5vh 0vh;
  max-width: 800px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Descripción */
.portatitu2 {
  color: #fff;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  margin: 0% 0% 4% 0%;
  max-width: 750px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Tags */
.portatitu3 {
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 2px;
  text-align: left;
  margin: 0vh 0vh 10vh 0vh;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Botones */

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin: 0vh 30vh 0vh 0vh;

}

.btn-primarys,
.btn-secondarys {
  padding: 3px 35px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Principal */

.btn-primarys {
  background-color: #c39bd3e1;
  color: #fff;
  border: 2px solid #c39bd3;
}

.btn-primarys:hover {
  transform: translateY(-3px);
  opacity: 0.85;
  background-color: rgb(240, 201, 253);

  color: #c39bd3;
}

/* Secundario */

.btn-secondarys {
  background-color: #c39bd3e1;
  color: #fff;
  border: 2px solid #c39bd3;
}

.btn-secondarys:hover {
  background-color: white;
  color: #333;
  transform: translateY(-3px);
}

/* Scroll suave */

html {
  scroll-behavior: smooth;
}

/* Mobile */

@media (max-width: 600px) {
  .hero-content {
    padding: 0 6%;
  }

  .portatitu {
    font-size: 2.4rem;
  }

  .portatitu2 {
    font-size: 1.3rem;
  }

  .portatitu3 {
    font-size: 0.85rem;
    letter-spacing: 1px;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .btn-primary,
  .btn-secondary {
    width: 80%;
    text-align: center;
  }
}
