.workb {
    width: 100%;
    padding: 5%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.800) url("/src/assets/Rosadom.jpg");
    background-position: 0% 50%;
    background-size:cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.worktext1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.worktext2 {
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.cuadritos {
    border-radius: 30%;
    padding: 0%;
    width: 15%;
    text-align: center;
    display: flex;
    margin: 2%;
    align-items: center;
    justify-content: center;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para animación */
}

.cuadritos:hover {
    transform: scale(1.2) rotate(10deg); /* Escala y rotación en hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.traba {
    display: flex;
    height: 35rem;
    margin: auto;
}

.workgit {
    width: 40%;
    transition: transform 0.3s ease; /* Transición para suavizar el hover */
}
.worknet {
    width: 25%;
    transition: transform 0.3s ease; /* Transición para suavizar el hover */
}

.workgit:hover, .worknet:hover {
    transform: scale(1.2) rotate(10deg); /* Aplicar efecto de hover a los íconos */
}

/*RESPONSIVE*/
@media screen and (min-width: 601px) and (max-width: 900px) {
    .worktext1 {
        font-size: 3rem;
    }

    .worktext2 {
        font-size: 1.2rem;
    }

    .cuadritos {
        width: 20%;
    }

    .traba {
        flex-direction: row;
        align-items: center;
        height: auto;
        display: flex;
    }

    .workgit, .worknet {
        width: 40%;
    }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .worktext1 {
        font-size: 2rem;
    }

    .worktext2 {
        font-size: 0.8rem;
    }

    .cuadritos {
        padding: auto;
        margin: auto;
    }

    .traba {
        flex-direction: row;
        align-items: center;
        height: auto;
        display: flex;
    }

    .workgit, .worknet {
        width: 30%;
    }
}
